#about{
    margin-top: 25%;
}
.aboutHeader {
    color: #444649;
    text-align: center;
    font-size: 25pt;
    text-transform: uppercase;
    position: relative;
    position: relative;
}
.header-bar{
    background: #444649;
    margin-left: 47%;
    height: 4px;
    width: 70px;
}
.box{
    color: #616161;
    margin-top: 15px;
}
.box img{
    width: 44%;
}
.bar {
    font-size: 11pt;
    height: 28px;
    margin: 0 0 15px 0;
    align-items: flex-end;
    background-color: #eee;
    color: #666;
    position: relative;
}
.bar .tag {
    left: 0;
    position: absolute;
    top: 0;
    background-color: #04c2c9;
    color: #fff;
    height: 100%;
    width: 110px;
    width: 70px;
}
.fill{
    width: 90%;
}
.bar.fill {
    left: 0;
    position: absolute;
    top: 0;
    background-color: #00a1a7;
    opacity: 1;
    padding: 0;
}
.bar:nth-child(1) .fill {
    transition: 1.1s 0.2s width ease-in-out;
}
.bar span {
    display: initial;
    padding: 0 15px 0 0;
    z-index: 1;
    align-items: flex-end;
}