.particles{
    background-color:#1b242f;
    height: 690px;
}
.header{
    margin-top: -33%;
}
.greeting{
        font-size: 15px;
        letter-spacing: 4px;
        display: block;
        margin-bottom: 20px;
        color: rgba(198,201,216,.75);
}
.title{
    color: white;
    line-height: 50px!important;
    font-family: Montserrat,sans-serif!important;
}
.name{
    text-transform: uppercase;
}
.resume-btn {
    margin-left: -5%;
    font-size: 18px;
    background-color: #f9004d!important;
    border: #f9004d;
    position: absolute;
  }
.resume-btn:hover{
    background-color: #019297!important;
    transition:  0.5s;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) and (max-width: 767.98px){ 
    .particles {
        height: 320px;
    } 
    .header{
        margin-top: -55%;
    }
    .greeting{
        color: white;
    }
    .resume-btn {
        margin-left: -15%;
        
      }
 }
