.s-navbar{
    bottom: 0;
    left: 0;
    padding: 10px;
    background: #1b242f;
    border-bottom: 3px solid #04c2c9;
    text-align: left;
    z-index: 99;
}
.s-navbar  a:-webkit-any-link{
    text-decoration: none;
}
#logo{
    margin-left: 10%;
}
.nav-menu{
    margin-left: 8%
}
.nav-title{
    color: white!important;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 4%;
}
.nav-title:hover{
    color: #00a1a7!important;
    transition: color 0.5s;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) and (max-width: 767.98px){ 
    #logo{
        margin-left: 5%;
    }
 }